@use "variables" as *;
@use "mixins" as *;

body {
  font-size: $header;
  letter-spacing: 0.02ch;
  font-family: "HaasBold";
  overflow-x: hidden;
  margin: 0;
}

p {
  font-size: $body-copy;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

body button {
  cursor: pointer;
  background: none;
  border: none;
  color: $black;
  -webkit-tap-highlight-color: transparent;
}

body input:focus {
  outline: none;
}

body a {
  color: $black;
  text-decoration: none;
  font-size: $body-copy;
}

*.flex {
  display: flex;
  align-items: center;

  &.wrap {
    flex-wrap: wrap;
  }

  &.jc-c {
    justify-content: center;
  }

  &.jc-sb {
    justify-content: space-between;
  }

  &.fd-c {
    flex-direction: column;
    justify-content: center;
  }

  &.cg-5 {
    column-gap: 5px;
  }

  &.cg-10 {
    column-gap: 10px;
  }

  &.cg-15 {
    column-gap: 15px;
  }
}