@use "variables" as *;


.background-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  right: 0;
  z-index: 900;

  .blur-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0px);
    transition: backdrop-filter 600ms linear, background 600ms linear;
  }

  .blur-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: inherit;
  }

  .blur-overlay.make-blur {
    backdrop-filter: blur(60px);
  }

  .blur-overlay.blue-bg {
    background: rgba($color: $gBlue, $alpha: .4);
  }

  .blur-overlay.blue-bg::after {
    background: rgba($color: $black, $alpha: .2)
  }

  .blur-overlay.pink-bg::after {
    background: rgba($color: $g-pink-overlay, $alpha: .4)
  }

  .blur-overlay.ivory-bg {
    background: rgba($color: $ivory, $alpha: .4);
  }


  .overlay {
    position: absolute;
    top: -200%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    background: #2c2c2c;
    // background: linear-gradient(#F4C373 0%, $ivory);

    &:nth-child(2) {
      background: $black;
      // background: linear-gradient($g-pink-body 0%, $ivory);
    }

    &:nth-child(3) {
      background: #000;
      // background: linear-gradient($gBlue 0%, $ivory);
    }
  }
  

}