$breakpoints: (
  tablet: 768px,
  desktop: 1340px,
  large-desktop: 1800px,
);

/* Media Querry */
@mixin apply-from($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media only screen and (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Breakpoint #{$breakpoint} not found in $breakpoints map.";
  }
}
