/* Colors */
$off-white: #faf9f6;
$white: #fff;
$black: #171717;
$accent: #f060e2;
$error: #d33232;
$green: #60f0c5;

/* Padding */
$M-body-padding: 0px 20px;
$M-box-padding: 15px;
$D-box-padding: 15px;
$input-padding: 0px 10px;

/* Font Sizes */
$body-copy: 14px;
$title: 20px;
$header: 35px;

/* border */
$border: 1.25px solid
  rgba(
    $color: $black,
    $alpha: 0.3,
  );
$valid-input-border: 2.25px solid $black;
$light-border: 1.25px solid
  rgba(
    $color: $off-white,
    $alpha: 0.6,
  );
$border-radius: 8px;


/* Section Margins */
$m-section-margin: 50px;
$d-section-margin: 150px;


/* Fonts */ 
@font-face {
  font-family: "HaasRegular";
  src: url("../assets/fonts/NHG-reg.TTF");
  font-weight: 400;
}

@font-face {
  font-family: "HaasMedium";
  src: url("../assets/fonts/NHG-medium.TTF");
  font-weight: 500;
}

@font-face {
  font-family: "HaasBold";
  src: url("../assets/fonts/NHG-bold.TTF");
  font-weight: 700;
}
