/* Colors */
$ivory: #fffff0;
$white: #fff;
$black: #171717;
$grey: #D9D9D9;
$gBlue: #758DB4;
$gBlueOverlay: #B0B5BC;
$gBlueBlop1: #29303D;
$gBlueBlop2: #282A2D;

// pink gradient
$g-pink-body: #F9CADA;
$g-pink-overlay: #F2C4B1;
$g-pink-blop1: #ec3883;
$g-pink-blop2: #f7cb3b;

// ivory gradient
$g-ivory-blop1: #213943;
$g-ivory-blop2: #959997;

/* Padding */
$M-body-padding: 0px 20px;
$M-box-padding: 15px;
$D-box-padding: 15px;
$input-padding: 0px 10px;

/* Font Sizes */
$body-copy: 14px;
$title: 20px;
$header: 35px;

/* border */
$border: 1.25px solid
  rgba(
    $color: $black,
    $alpha: 0.3,
  );
$border-radius: 8px;


/* Section Margins */
$m-section-margin: 50px;
$d-section-margin: 150px;


/* Fonts */ 
@font-face {
  font-family: "MontRegular";
  src: url("../assets/fonts/neue-montreal/NeueMontreal-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "MontMedium";
  src: url("../assets/fonts/neue-montreal/NeueMontreal-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "MontBold";
  src: url("../assets/fonts/neue-montreal/NeueMontreal-Bold.otf");
  font-weight: 700;
}
