@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HaasRegular";
  src: url("./assets/fonts/NHG-reg.TTF");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Garamond";
  src: url("./assets/fonts/GARAIT.TTF");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  :root {
    --opacity-color: 255, 255, 255;
  }
}

body {
  overflow: hidden;
  height: 100%;
  overflow-y: auto;
}

body, html {
  overscroll-behavior: none;
}